*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #3C3D37;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.Choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.Choice:hover{
    cursor: pointer;
    background-color: #1A1A1D;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 3rem;
}
#user-score,#comp-score{

    font-size: 3rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    font-size: 2rem;
    background-color: #3C3D37;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.reset-btn{
    margin-top: 2rem;
}
#reset{
    font-size: 2rem;
    background-color: #ECDFCC;
    color: black;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
}
#reset:hover{
    cursor: pointer;
    background-color: white;
}
.body{
    background-color: #697565;
}